<highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>






    <!-- TABLA PRODUCTOS -->
    <table table-condensed class="table table-secondary table-bordered
      border-dark table-hover m-3">
      <thead class="table-dark text-center">
        <tr>

          <th scope="row">
            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>CÓDIGO</strong></p>

            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>NOMBRE</strong></p>


            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>DESCRIPCIÓN</strong></p>

            </div>

          </th>
          <th scope="col">

            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>CATEGORÍA</strong></p>


            </div>



          </th>
          <th scope="col">
            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>MARCA</strong></p>


            </div>

          </th>
          <th scope="col">

            <div class="d-flex flex-row justify-content-center p-1">

              <p><strong>IMAGEN</strong></p>


            </div>




          </th>

          <th scope="col">

            <div class="d-flex flex-row justify-content-center p-1">

              <p><strong>DATASHEET</strong></p>

            </div>




          </th>
          <th scope="col">

            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>STOCK</strong></p>

            </div>



          </th>
          <th scope="col">
            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>PRECIO</strong></p>


            </div>
          </th>
          <th scope="col">
            <div class="d-flex flex-row justify-content-center p-1">
              <p><strong>FECHA</strong></p>


              <p><strong>HORA</strong></p>

            </div>
          </th>

        </tr>
      </thead>

      <!-- REGISTROS FILTRO -->
      <tbody class="table-dark bg-dark text-center">
        <!--Replicamos 4 veces los productos e iconos-->
        <tr *ngFor="let producto of productos">

          <th scope="row" class="text-white text-center">{{producto.codigo}}</th>
          <td>{{producto.nombre}}</td>
          <td>{{producto.descripcion}}</td>
          <td>{{producto.categoria}}</td>
          <td>{{producto.marca}}</td>
          <td class="bg-white">
            <img src={{producto.imagen}} target="_blank" width="70px"
              height="70px"></td>
          <td>
            <a href={{producto.hojaDatos}} target="_blank"> <img
                src="assets/images/pdf.png" width="40" height="40" alt=""></a></td>
          <td>{{producto.stock}} u.</td>
          <td>${{producto.precio}}</td>
          <td>{{producto.fecha}} / {{producto.hora}}</td>


                </tr>

              </tbody>
              <!-- FIN REGISTROS-->

            </table>
            <!-- FIN TABLA PRODUCTOS -->
